*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
body {
    background: #000000;
    font-family:Arial, Helvetica, sans-serif;
    color: #222;
}
.navbar{
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
}
.nav-item {
    font-size: 20px;
}
.home {
    min-height: 90vh;
}
.home-title {
    font-size: 50px;
    font-weight: 550;
}
.home-text {
    max-width: 550px;
    font-size: 1.1rem;
}
.btn-dark {
    border-radius: 50px;
}
.about-card {
    background: #101111;
    border: 1px solid #2a2828;     
    width: 1100px;
}
.about-card .col-md-6{
    line-height: 1.8rem;
}
#about-img img{
    margin-right: 100px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  padding: 15px;
  height: 80px;
  /* width: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.skill-card img {
  width: 45px;
  height: 45px;
}
.skill-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: rgb(7, 89, 139);
}

.ed-box {
    position: relative;
    margin-bottom: 35px;
    color: white;
}
.ed-box .year {
    font-weight: 600;
}

.project-card {
    background-color: #232323; 
    color: #212529;
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.project-card:hover {
    transform: translateY(-10px); 
}
.project-card .card-body {
    padding: 2rem; 
}
.project-card .card-title {
    font-weight: bold;
}
.project-card .card-text {
    font-size: 17px;
    color: #aba8a8;
}
.btn-primary {
    background-color: #1d1f21;
    border-color: #d7dce0b8;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}
.project-card img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.contact-form{
    background-color: #0f0e0e;
    height: 100%;
    /* padding: 50px 0; */
}
.contact-form input{
    width: 340px;
    background-color: transparent;
    border-color: rgb(76, 75, 75);
    
}
.contact-form textarea{
    width: 340px;
    background-color: transparent;
    border-color: rgb(76, 75, 75);
}
.contact-form button{
    width: 340px;
}
.custom-input::placeholder{
    color: rgba(103, 100, 100, 0.685);
}
.social-icons a i{
    color: white;
}
.social-icons a i:hover{
    color: rgb(48, 174, 228);
}
/* .copyright{
    margin-top: 40px;
} */