*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    overflow: hidden;
}
.header{
    background-color: #3e5c9a;;
    height: 11vh;
    position: relative;
}
.headerlogo{
    color: white;
    position: relative;
    top: 22px;
    left: 27px;
    font-size: 38px;
}
.img{
    background-image: url(/FBPage/map.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 700px;
    height: 330px;
    top: 130px;
    left: 35px;
}
.container{
    background-color: #f7f7f9;
    height: 700px;
    width: 100%;
    position: relative;

}
.auth{
    position: absolute;
    right: 50px;
    bottom: 10px;
}
.authlabels{
    position: absolute;
    right: 140px;
    top: 23px;
    font-size: 13px;
    color: #9cade8;
}

#l2{
    position: relative;
    left: 90px;
}
.f1{
    position: absolute;
    color: #3b5896;
    font-size: 25px;
    top: 65px;
    left: 40px;
    
}
.f2{
    position: relative;
    color:#3b5998 ;
    top: 70px;

}
.f2 h2{
    text-align: center;
    margin-left: 303px;
    font-size: 26px;
    font-weight:bold;
    color: #3b5896;
}
p{
    font-weight: bold;
    text-align: center;
    margin-left: 461px;
    margin-top: 8px;
    color: #3b5896;
    font-size: 19px;
}
.tb{
    position: relative;
    color: #3b5998;
    font-size: 15px;
    margin-left: 900px;
    top: 45px;
}
table{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
}

.why-provide{
    color: #3b5998;
    text-decoration: none;
    text-align: left;
}
.why-provide:hover{
    color: black;
}
.sign-btn{
    position: absolute;
    background-color: #31b935;
    margin-top: 305px;
    right: 435px;
    color: white;
    padding: 2px;
    width: 65px;
    height: 25px;
    border: 1px solid black;
    font-weight: bold;
}
.why-provide{
    position: absolute;
    font-size: 14px;
    top: 350px;
    right: 317px;
    
}
.pass{
    color: white;
    text-decoration: none;
    position: relative;
    left:33px;
    color: #9cade8;
}
.pass:hover{
    color: white;
}
.login-btn{
    background-color: #5b70bb;
    color: white;
    border: 1px solid black;
    width: 50px;
    height: 20px;
    font-weight: bold;
}
.end a{
    color: #3b5998;
    text-decoration:none;
    position: absolute;
    top: 515px;
    left:950px;
}
span {
    color: #676f7c;
}
hr{
    border: none;
    height: 1px;
    background-color: #a6abb3;
    margin-top: 120px;
    margin-left: 900px;
    width: 445px;
}          
.right{
    text-align: right;
}

 