*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    width: 100%;
    overflow-x: hidden;
}
.navbar{
    background-color: rgb(250, 248, 248);
}
.carousel-inner .col-lg-6  {
    margin-top: 150px;
}
.carousel{
    overflow: hidden;
}
.row{
    overflow: hidden;
}

.about{
    padding-top: 30px;
}
.row .col-lg-6 h3{
    margin-top: 30px;
}

.blog{
    padding-top: 80px;
}
.row .card{
    margin-bottom: 10px;
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(112, 111, 111);
}
#btn2{
    width: 90px;
}
.container{
    overflow: hidden;
}